@charset "iso-8859-1";
/* CSS Document */

#panel {
	
}

#room-temperature {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	
}

#thermostat {
	
}
