@charset "iso-8859-1";
/* CSS Document */

body {
	font-family: 'Roboto', sans-serif;
}

#panel {
	margin: auto;
	width: 650px;
}

#room-temp {
	transform: rotate(-90deg);
	margin: 20px;
	margin-top: 50px;
}


#thermostat {
	margin: auto;
	height: 150px;
}

th {
	text-align: left;
}

.pane {
	width: 200px;
	display: inline-block;
	height: 300px;
	vertical-align: middle;
	text-align: center;
	padding-top: 15px;
	box-sizing: border-box;
}

.actif {
	background-color: #8bcf69;
}

.inactif {
	background-color: #cc3d3b;
}

#heating-state{
	border-radius: 20px;
	padding: 5px;
	width: auto;
}

#title {
	text-align: center;
}

meter {
	width: 150px;
	-moz-appearance: none;
	background: none;
	background-color: whiteSmoke;
}

meter::-moz-meter-bar {
	-moz-appearance: meterchunk;
	background-image: linear-gradient(
		90deg,
	    #8bcf69 0%,
	    #8bcf69 100%
	);

}

#thermometre {
	position: relative;
	top: 35px;
}
