html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

nav, main {
	margin: 0 10%;
}

/* Navigation menu */

header {
	background-color: #389bd8;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

nav a {
	color: white;
	text-decoration: none;
	box-sizing: border-box;
	font-size: 150%;
	
}

nav a:hover {
	color: white;
	text-decoration: none;
	box-sizing: border-box;
	
}

nav div {
	display: inline-block;
	padding: 5px 15px;
}

nav div:hover {
	background-color: #2b78a8;
	
}

.brand{
	font-weight: bold;
}


.globe {
	float: right;
}

/* Active toggle tab */

.nav-tabs>li.active>a {
	background-color: #38d17f !important;
	color: white !important;
}

/* Input line*/

input {
  width: 100%;
}

/* State Table */
.green {
  background-color: #18FF6D;
}

.red {
  background-color: #D33E43;
}

#location{
	width: 40%;
	display: inline-block;
	border-right: 1px lightgrey solid;
	padding: 15px;
	box-sizing: border-box;
}

#state {
	width: 60%;
	display: inline-block;
	float: right;
	padding: 15px;
	box-sizing: border-box;
}

#map {
	
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	height: 400px;
}

