html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


header {
	background-color: #389bd8;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header a {
	color: white;
	text-decoration: none;
	box-sizing: border-box;
	font-size: 150%;
	padding: 15px;
}

header a:hover {
	color: white;
	text-decoration: none;
	background-color: #2b78a8;
	box-sizing: border-box;
}

.nav-tabs>li.active>a {
	background-color: #38d17f !important;
	color: white !important;
}

.globe {
	float: right;
}

.brand {
	font-size: 200%;
}

input {
  width: 100%;
}

/* State Table */
.green {
  background-color: #18FF6D;
}

.red {
  background-color: #D33E43;
}

#carte {
	display: flex;
	flex-wrap: wrap;
}

#location{
	flex-basis: 40%;
	border-right: 1px lightgrey solid;
	padding: 15px;
	box-sizing: border-box;
}

#state {
	flex-basis: 60%;
	padding: 15px;
	box-sizing: border-box;
}

#map {
	flex-basis: 100%;
	padding: 15px;
	box-sizing: border-box;
	height: 400px;
}

